button{
    background-color: antiquewhite;
    color: red;
}
.gudapati{
    background-color: black;
    color: antiquewhite;
}
#login{
    background-color: white;
}
section.bala button{
    background-color: yellowgreen;
    color: red;
}
